<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>11063200747-dbfb3ceifdejmfj4qbcrgs2jca7j2vct.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.11063200747-dbfb3ceifdejmfj4qbcrgs2jca7j2vct</string>
	<key>API_KEY</key>
	<string>AIzaSyC_kuIHlqyMcSABFUmNqvnz-LdQ4H3lp0o</string>
	<key>GCM_SENDER_ID</key>
	<string>11063200747</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.calendarAppAvanzada</string>
	<key>PROJECT_ID</key>
	<string>calendario-6e15f</string>
	<key>STORAGE_BUCKET</key>
	<string>calendario-6e15f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:11063200747:ios:e497172a7b43659427e7ae</string>
</dict>
</plist>